@font-face {
	font-family: "Montserrat";
	src: local("MontserratRegular"), local("Montserrat-Regular"),
		url("../fonts/montserrat-regular/montserrat-regular.woff") format("woff"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("MontserratSemibold"), local("Montserrat-Semibold"),
		url("../fonts/montserrat-semibold/montserrat-semibold.woff") format("woff"); /* Modern Browsers */
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("MontserratBold"), local("Montserrat-Bold"),
		url("../fonts/montserrat-bold/montserrat-bold.woff") format("woff"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("MontserratExtrabold"), local("Montserrat-Extrabold"),
		url("../fonts/montserrat-extrabold/montserrat-extrabold.woff") format("woff"); /* Modern Browsers */
	font-weight: 800;
	font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  border-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 3.7rem;
  width: 184.4rem;
  max-width: 100%;
}

.btn {
  border: 1px solid #FF9900;
  border-radius: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF9900;
}

.title {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.9rem;
}

.text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.text_size {
  width: 90%;
}

:root {
  --color-text:#000000;
  --color-white:#FFFFFF;
  --gap: 3.2rem;
}

.visibility-hidden {
  visibility: hidden;
}


/* ---------------------header---------------------------------------------- */


.header {
  margin-bottom: 5.5rem;
  width: 100%;
  min-height: 10rem;
  border-radius: 0px 0px 3.2rem 3.2rem;
  background-color: var(--color-white);
  box-shadow: 0px .5rem 4rem rgba(0, 0, 0, 0.1);
}

.header__wrap {
  align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 1.1rem;
}

.logo {
  flex-shrink: 0;
  width: 22.4rem;
  height: 7.2rem;
}

.header__nav {
  align-items: center;
  margin-left: auto;
}

.header__list {
  align-items: center;
  margin-right: 26.2rem;
}

.header__item:not(:last-child) {
  margin-right: 8.5rem;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2.8rem;
  display: block;
  width: 100%;
  height: .2rem;
  background-color: #FF9900;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__link:focus {
  outline: .1rem solid #FF9900;
  outline-offset: .2rem;
}

.header__link:hover::after {
  opacity: 1;
}

.header__link:active {
  outline: none;
  color: #E1670E;
}

.header__link:active::after {
  background-color: #E1670E;
  opacity: 1;
}

.header__search {
  background-color: inherit;
}

.header__search rect {
  fill: black;
  transition: fill .3s ease-in-out;
}

.header__search path {
  stroke: black;
  transition: stroke .3s ease-in-out;
}

.header__search:focus {
  outline: .1rem solid #FF9900;
  outline-offset: .2rem;
}

.header__search:hover rect {
  fill: #FF9900;
}

.header__search:hover path {
  stroke: #FF9900;
}

.header__loupe {
  width: 2.4rem;
  height: 2.4rem;
}

.header__input-search {
  display: none;
}


/* -----------------------hero------------------------------------------------- */


.hero {
  margin-bottom: 4.4rem;
  padding-left: 8.5rem;
}

.hero__container {
  max-width: 177rem;
}

.slider-box {
  position: relative;
  min-height: 62rem;
  overflow: hidden;
}

.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  border-radius: 3.2rem;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 1.7rem;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 2.8rem;
  left: .7rem;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination-bullet {
  background-color: #CACACA;
}

.hero__content_page1 {
  background-image: url("../img/order/1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content_page2 {
  background-image: url("../img/order/2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content_page3 {
  background-image: url("../img/order/3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  position: relative;
  top: 0;
  z-index: 2;
  padding-top: 10.4rem;
  padding-bottom: 10rem;
  padding-left: 7.9rem;
  height: 100%;
  pointer-events: none;
}

.hero__title {
  margin-bottom: 2.4rem;
  width: 83.7rem;
  font-weight: 800;
  font-size: 7rem;
  line-height: 8.5rem;
  color: var(--color-white);
}

.hero__text {
  margin-bottom: 8.9rem;
  width: 79rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--color-white);
}

.hero__wrap {
  padding-left: 2.1rem;
}

.hero__btn {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
  padding-right: 3.6rem;
  padding-left: 4rem;
  font-size: 2.3rem;
  line-height: 2.8rem;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  pointer-events: all;
}

.hero__btn:focus {
  border-color: #FFB84D;
  background-color: #FFB84D;
  outline: none;
}

.hero__btn:hover {
  border-color: #FFB84D;
  background-color: #FFB84D;
}

.hero__btn:active {
  border-color: #E1670E;
  background-color: #E1670E;
}

.hero__swap {
  position: absolute;
  left: 84.3rem;
  bottom: 2.4rem;
}

.hero__toggle {
  border-radius: 100%;
  border: none;
  border-color: #CACACA;
  width: 1.5rem;
  height: 1.5rem;
}

.hero__toggle:not(:last-child) {
  margin-right: 1.7rem;
}


/* ---------------------about-us---------------------------------------------------- */


.about-us {
  margin-bottom: 10rem;
}

.about-us__title {
  margin-bottom: 2rem;
}

.about-us__text {
  margin-bottom: 5rem;
  width: 123.5rem;
}

.about-us__wrap {
  justify-content: space-between;
}

.about-us__img {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-radius: 3.2rem;
  width: 49.05%;
  min-height: 62.1rem;
}

.about-us__img::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 3.2rem;
  background-image: url("../img/about/worker.webp");
  background-repeat: no-repeat;
  background-size: cover;

}

.about-us__content {
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  border-radius: 3.2rem;
  height: 19.6rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about-us__desc {
  flex-shrink: 0;
  width: 43.3rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--color-white);
}

.about-us__more {
  padding: 1.7rem 3.5rem;
  border: 3px solid #FF9900;
  border-radius: 1.6rem;
  max-width: 25rem;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.about-us__more:focus {
  border-color: #FFB84D;
  background-color: #FFB84D;
  outline: none;
}

.about-us__more:hover {
  border-color: #FFB84D;
  background-color: #FFB84D;
}

.about-us__more:active {
  border-color: #E1670E;
  background-color: #E1670E;
}

.about-us__plus {
  width: 49.2%;
}

.about-us__card {
  padding: 6.3rem 11.5rem 6.5rem 30rem;
  border: 1px solid #CACACA;
  border-radius: 3.2rem;
  background: #FFFFFF;
  }

.about-us__card_consultation {
  margin-bottom: 3.2rem;
  background-image: url("../img/about/Frame 16.webp");
  background-repeat: no-repeat;
  background-position-x: 6rem;
  background-position-y: 6.4rem;
  background-size: 19rem 16.5rem;
}

.about-us__card_pursuit {
  background-image: url("../img/about/Frame 12.webp");
  background-repeat: no-repeat;
  background-position-x: 6rem;
  background-position-y: 6.5rem;
  background-size: 19rem 16.5rem;
}

.about-us__lead {
  display: block;
  margin-bottom: .8rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--color-text);
}

.about-us__subtext {
  color: var(--color-text);
}


/* ----------------------------work-------------------------------------- */


.work {
  margin-bottom: 5rem;
}

.work__title {
  margin-bottom: 5rem;
}

.work__list {
  margin-bottom: 4.5rem;
}

.tabs-nav__item:not(:last-child) {
  margin-right: 8.6rem;
}

.tabs-nav__btn--active {
  color: tan;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: flex;
}

.tabs-content {
  position: relative;
  min-height: 47rem;
  height: 0.1rem;
}

.work__buttons {
  display: inline-block;
  position: relative;
  z-index: 2;
  bottom: 6rem;
}


.work__swap {
  border: none;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  background-color: #FFFFFF;
  transition: color .3s ease-in-out;
}

.work__swap:focus {
  border: 1px solid #FF9900;
  padding: .2rem;
  outline: none;
}

.work__swap:hover {
  color: #FF9900;
}

.work__swap:active {
  border: none;
  color: #E1670E;
}

.work-content {
  width: 40%;
}

.work__blockimg {
  padding-top: 10px;
  height: 47rem;
}

.work__img {
  width: 87rem;
  height: 46rem;
  border-radius: 3.2rem;
}

.work__subtitle {
  margin-bottom: .8rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.work__text {
  margin-bottom: 1.8rem;
}

.work__more {
  margin-right: 2.7rem;
  padding: 2rem 4rem;
  max-width: 22.5rem;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: #FF9900;
  color: var(--color-white);
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.work__more:focus {
  border-color: #FFB84D;
  background-color: #FFB84D;
  outline: none;
}

.work__more:hover {
  border-color: #FFB84D;
  background-color: #FFB84D;
}

.work__more:active {
  border-color: #E1670E;
  background-color: #E1670E;
}

.work__btn {
  padding: 2rem 3.8rem;
  border: .1rem solid #000000;
  border-radius: 1.6rem;
  max-width: 22.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: #fff;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.work__btn:focus {
  border-color: #666666;
  background-color: #666666;
  color: #FFFFFF;
  outline: none;
}

.work__btn:hover {
  border-color: #666666;
  background-color: #666666;
  color: #FFFFFF;
}

.work__btn:active {
  border-color: #000000;
  background-color: #000000;
  color: #FFFFFF;
}

.work__wrap {
  justify-content: space-between;
  height: 100%;
}

.work__img-adaptive {
  border-radius: 3.2rem;
}


/* ---------------------questions-------------------------------------------------- */


.questions {
  margin-bottom: 10rem;
}

.questions__title {
  margin-bottom: 3.2rem;
}

.questions__item {
  margin: 0;
  border: none;
  background-color: #E5E5E5;
}

.questions__item .questions__btn {
  position: relative;
  display: block;
  text-align: left;
  padding-top: 3.8rem;
  padding-bottom: 4rem;
  padding-right: 12rem;
  padding-left: 0.1rem;
  border-top: .1rem solid #CACACA;
  width: 100%;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 3.2rem;
  background-color: #fff;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.questions__item:last-of-type .questions__btn {
  border-bottom: .1rem solid #CACACA;
}

.questions__btn ellipse, .questions__btn path {
  transition: fill 0.3s ease-in-out;
}

.questions__btn svg {
  transition: transform 0.3s ease-in-out;
}

.questions__btn:focus {
  border-color: #FF9900;
  color: #FF9900;
  outline: none;
}

.questions__btn:hover {
  border-color: #FF9900;
  color: #FF9900;
}

.questions__item:last-of-type:hover .questions__btn {
  border-color: #FF9900;
  color: #FF9900;
}

.questions__img {
  position: absolute;
  right: 0;
  bottom: 30%;
  width: 5rem;
  height: 5rem;
}

.questions__btn:focus ellipse {
  fill: #FF9900;
}

.questions__btn:focus path {
  fill: #FFF;
}

.questions__btn:hover ellipse {
  fill: #FF9900;
}

.questions__btn:hover path {
  fill: #FFF;
}

.questions__btn:active svg {
  transform: rotate(45deg);
}

.accordion--active .questions__btn svg {
  transform: rotate(45deg);
}

.questions__btn:active ellipse {
  fill: #CACACA;
}

.questions__btn:active path {
  fill: #000000;
}

.questions__panel {
  background-color: #fff;
  overflow: hidden;
}

.questions__text {
  margin-bottom: 4rem;
}

.ac .ac-trigger::after {
  display: none;
}


/* ----------------------footer---------------------------------------------- */


.footer {
  padding: 5rem 0;
  min-height: 59.4rem;
  background-color: #000000;
}

.footer-left__wrap {
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 1.9rem;
}

.footer-left__menu {
  margin-right: 11.5rem;
  width: 14.24%;
}

.footer-left__list {
  margin-bottom: 9rem;
}

.footer-left__link {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: #CACACA;
  transition: color 0.3s ease-in-out;
}

.footer-left__link:focus {
  outline: .1rem solid #FF9900;
  outline-offset: .2rem;
}

.footer-left__link:hover {
  color: #FF9900;
}

.footer-left__link:active {
  outline: none;
  color: #E1670E;
}

.footer-left__inner {
  flex-wrap: wrap;
  width: 100%;
}

.footer-left__social:not(:last-child) {
  margin-right: 2.5rem;
}

.footer-left__social path {
  transition: fill 0.3s ease-in-out;
}

.footer-left__social:focus {
  outline: .1rem solid #FF9900;
  outline-offset: .5rem;
}

.footer-left__social:hover path {
  fill: #FF9900;
}

.footer-left__social:active path {
  outline: none;
  fill: #E1670E;
}

.footer-left__social:active {
  outline: none;
}

.footer__img {
  width: 6rem;
  height: 6rem;
}

.footer__form {
  text-align: center;
  width: 57rem;
}

.footer__inner {
  flex-direction: column;
}

.footer__title {
  margin-bottom: 2.5rem;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.9rem;
  color: #CACACA;
}

.footer__text {
  width: 36.3rem;
  color: #CACACA;
}

.form__input {
  margin-bottom: 2.5rem;
  padding-left: 2.4rem;
  border-radius: 1.6rem;
  border: none;
  min-height: 6rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #fff;
  background: #414141;
  transition: background-color 0.3s ease-in-out;
}

.form__message {
  margin-bottom: 3.2rem;
  padding-left: 2.4rem;
  padding-top: 1.4rem;
  border-radius: 1.6rem;
  border: none;
  height: 15rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #fff;
  background: #414141;
  transition: background-color 0.3s ease-in-out;
}

.form__input:hover {
  background: #666666;
}

.form__message:hover {
  background: #666666;
}

.form__input:focus, .form__message:focus {
  outline: none;
}

.form__btn {
  padding: 1.9rem 5.2rem;
  border-radius: 1.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--color-white);
  background: #FF9900;
  transition: background-color 0.3s ease-in-out;
}

.form__btn:focus {
  background: #FFB84D;
  outline: none;
}

.form__btn:hover {
  background: #FFB84D;
}

.form__btn:active {
  background-color: #E1670E;
}

.footer__content {
  flex-direction: column;
  justify-content: center;
  width: 20.51%;
}